<!-- templates/products/product_list.html -->

{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <h2>{% if LANGUAGE_CODE == 'en' %}Products{% else %}المنتجات{% endif %}</h2>
    <div class="row g-3">
        {% for product in products %}
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <a href="{% url 'product_detail' product.slug %}">
                    <img src="{{ product.thumbnail.url }}" class="card-img-top"
                        style="height:200px;object-fit:contain;padding:10px">
                </a>
                <div class="card-body text-center">
                    <h6>{% if LANGUAGE_CODE == 'en' %}{{ product.name_en }}{% else %}{{ product.name_ar }}{% endif %}</h6>
                    <p class="fw-bold" style="color:#c9a96e">{% if LANGUAGE_CODE == 'en' %}EGP{% else %}ج.م{% endif %} {{ product.final_price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}